* {
    margin: 0;
    padding: 0;
    font-style: italic;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/good.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Menus: */

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    position: relative;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

ul li.active a {
    background-color: #fff;
    color: #000;
}

.main {
    max-width: 1500px;
    margin: auto;
}

.title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: #fff;
    font-size: 70px;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
    /* font-size: clamp(24px, 6vw, 48px); */
}

.button {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid #fff;
    padding: 150px 150px;
    color: #fff;
    text-decoration: none;
    font-size: 50px;

    /* For Phone players */
    /*  */
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.logo img {
    position: fixed;
    float: left;
    width: 250px;
    top: -40px;
    height: auto;
}

.leiras-szoveg {
    margin-top: 60%;
    text-indent: 40px;
    text-align: justify;
    letter-spacing: 2px;
    font-style: italic;
    color: #fff;

    font-size: 17px;
}

.szoveg {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 20%;
}

/* For Phone players */
@media (max-width: 600px) {
    h1 {
        font-size: clamp(24px, 6vw, 48px);
        margin-bottom: 20px;
    }

    .btn {
        font-size: clamp(14px, 4vw, 22px);
        padding: 12px 24px;
        margin-top: 10px;
    }

    header {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    nav ul {
        margin-top: 10px;
    }
}