* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
}

header{
    height: 30vh;
    background-size: cover;
    background-position: center;
}

ul{
    float:right;
    list-style-type: none;
    margin-top:25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:#fff;
    padding:5px 20px;
    border:1px solid transparent;
}

ul li a:hover{
    background-color: #fff;
    color:#000;
}

.main{
    max-width: 1500px;
    margin: auto;
}

.title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.title h1{
    color: #fff;
    font-size: 50px;
}

body{
    background-image: url(Images/kdrama_background.jpg);
    background-position: center;
}

.game-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info{
    color:antiquewhite;
    font-size: 40px;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card{
    position: relative;
    height:150px;
    width:150px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 7px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}
.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
}

.overlay-text {
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    justify-content: center;
    align-items: center;
    z-index:100;
    color:purple;
    font-family: "Lucida Console", "Courier New", monospace;
}

.overlay-text-small {
    font-size: .3em;
    display: block;
}

.overlay-text.visible{
    display: flex;
    flex-direction: column;
    animation:overlay-grow 500ms forwards;
}

@keyframes overlay-grow{
    from {
        background-color: rgba(0,0,0, 0);
        font-size:0;
    }
    to{
        background-color: rgba(0,0,0, .8);
        font-size: 10em;
    }
}

@keyframes dance {
    0%, 100% {
        transform:rotate(0);
    }
    25% {
        transform:rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.card-back{
    background-color:black;
    border-color:black;
}

.card-front {
    background-color: black;
    border-color:black;
    transform: rotateY(180deg);
}

.card-value {
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
    height: 150px;
    width: 150px;
    position:relative;
}

.card-front:hover .card-value{
    transform: scale(.8);
}

.hatter-kocsi{
    position:absolute;
    width: 150px;
    height: 150px;
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}

.card-back:hover .hatter-kocsi{
    transform:scale(.9);
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(3, auto);
    }

    .game-info-container{
        flex-direction:column;
        align-items:center;
    }
}

